<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roulette">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roulette">
        <activity
            android:name=".boss_login"
            android:exported="false" />
        <activity
            android:name=".boss"
            android:exported="false" />
        <activity
            android:name=".faces"
            android:exported="false" />
        <activity
            android:name=".Loser_screen"
            android:exported="false" />
        <activity
            android:name=".Winner_screen"
            android:exported="false" />
        <activity
            android:name=".withdrawal"
            android:exported="false" />
        <activity
            android:name=".betTable"
            android:exported="true" />
        <activity
            android:name=".Table"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".deposit"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".user_bio"
            android:exported="false" />
        <activity
            android:name=".UserLogIn"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>